<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title th:text="${vinho.nome}"></title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/upload.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text="${vinho.nome}"></h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="rol">
			<div class="col-sm-9 js-container-foto">
				<img th:src="${vinho.url}" th:if="${vinho.temFoto()}" />
			
				<div th:if="${not vinho.temFoto()}" id="upload-drop" class="wn-upload" th:attr="data-codigo=${vinho.codigo}">
					<img th:src="@{/images/mockup-garrafa.jpg}"/>
					<div>
						<span>Arraste a foto aqui ou</span>
						<a class="wn-upload-form-file">Selecione <input id="upload-select" type="file" accept=".jpg, .jpeg, .png"/></a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item" th:text="|Vinho ${vinho.tipo.descricao}|"></li>
					<li class="list-group-item" th:text="|${vinho.volume}ml|"></li>
					<li class="list-group-item" th:text="${vinho.safra}"></li>
					<li class="list-group-item" th:text="|R$ ${vinho.valor}|"></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/vendors/uikit.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/vendors/upload.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/upload-foto.js}" type="text/javascript"></script>
</th:block>
</body>
</html>